    <mat-card *ngIf="order" ngForm #orderForm="ngForm">
        <mat-card-title>Order Details</mat-card-title>
        <mat-card-content>
        <div class="ui-g alignlabels">
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="orderDate" >Order Date</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container>
                  <input matInput id="orderDate" [matDatepicker]="orderDatePicker" [(ngModel)]="order.orderDate"  name="orderDate" #orderDate="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="orderDatePicker"></mat-datepicker-toggle>
                </mat-input-container>
                <mat-datepicker #orderDatePicker></mat-datepicker>
                </div>
           </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!orderForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

