    <mat-card *ngIf="warehouse" ngForm #warehouseForm="ngForm">
        <mat-card-title>Warehouse Details</mat-card-title>
        <mat-card-content>
        <div class="ui-g alignlabels">
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="name"  class="required">Name</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="name" type="text" [(ngModel)]="warehouse.name"  required   name="name" #name="ngModel"/>
                    
                    <mat-error *ngIf="!name.valid && name.dirty && name.errors['required']">
                        Name is required.
                    </mat-error>
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="rating" >Rating</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="rating" type="number" [(ngModel)]="warehouse.rating"  name="rating" #rating="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="type" >Type</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="type" type="text" [(ngModel)]="warehouse.type"   name="type" #type="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="description" >Description</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="description" [(ngModel)]="warehouse.description"   autoResize="true" name="description" #description="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="address" >Address</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="address" [(ngModel)]="warehouse.address"   autoResize="true" name="address" #address="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="phone1" >Phone1</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="phone1" type="text" [(ngModel)]="warehouse.phone1"   name="phone1" #phone1="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="phone2" >Phone2</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="phone2" type="text" [(ngModel)]="warehouse.phone2"   name="phone2" #phone2="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="fulfilmentType" >Fulfilment Type</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="fulfilmentType" type="text" [(ngModel)]="warehouse.fulfilmentType"   name="fulfilmentType" #fulfilmentType="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="storagePrice" >Storage Price</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="storagePrice" type="number" [(ngModel)]="warehouse.storagePrice"  name="storagePrice" #storagePrice="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="storagePriceUom" >Storage Price Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="storagePriceUom" type="text" [(ngModel)]="warehouse.storagePriceUom"   name="storagePriceUom" #storagePriceUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="minHirePeriod" >Min Hire Period</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="minHirePeriod" type="text" [(ngModel)]="warehouse.minHirePeriod"   name="minHirePeriod" #minHirePeriod="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="deposit" >Deposit</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="deposit" type="number" [(ngModel)]="warehouse.deposit"  name="deposit" #deposit="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="depositUom" >Deposit Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="depositUom" type="text" [(ngModel)]="warehouse.depositUom"   name="depositUom" #depositUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="facilitySize" >Facility Size</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="facilitySize" type="number" [(ngModel)]="warehouse.facilitySize"  name="facilitySize" #facilitySize="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="facilitySizeUom" >Facility Size Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="facilitySizeUom" type="text" [(ngModel)]="warehouse.facilitySizeUom"   name="facilitySizeUom" #facilitySizeUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="storageSize" >Storage Size</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="storageSize" type="number" [(ngModel)]="warehouse.storageSize"  name="storageSize" #storageSize="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="storageSizeUom" >Storage Size Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="storageSizeUom" type="text" [(ngModel)]="warehouse.storageSizeUom"   name="storageSizeUom" #storageSizeUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="operatingDays" >Operating Days</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="operatingDays" [(ngModel)]="warehouse.operatingDays"   autoResize="true" name="operatingDays" #operatingDays="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="operatingHours" >Operating Hours</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="operatingHours" [(ngModel)]="warehouse.operatingHours"   autoResize="true" name="operatingHours" #operatingHours="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="noOfReceivingDoors" >No Of Receiving Doors</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="noOfReceivingDoors" type="number" [(ngModel)]="warehouse.noOfReceivingDoors"  name="noOfReceivingDoors" #noOfReceivingDoors="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="noOfShippingDoors" >No Of Shipping Doors</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="noOfShippingDoors" type="number" [(ngModel)]="warehouse.noOfShippingDoors"  name="noOfShippingDoors" #noOfShippingDoors="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="wmsVendor" >Wms Vendor</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="wmsVendor" [(ngModel)]="warehouse.wmsVendor"   autoResize="true" name="wmsVendor" #wmsVendor="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="racking" >Racking</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="racking" type="text" [(ngModel)]="warehouse.racking"   name="racking" #racking="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="maxStorageHeight" >Max Storage Height</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="maxStorageHeight" type="number" [(ngModel)]="warehouse.maxStorageHeight"  name="maxStorageHeight" #maxStorageHeight="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="maxStorageHeightUom" >Max Storage Height Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="maxStorageHeightUom" type="text" [(ngModel)]="warehouse.maxStorageHeightUom"   name="maxStorageHeightUom" #maxStorageHeightUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="maxStorageWeight" >Max Storage Weight</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="maxStorageWeight" type="number" [(ngModel)]="warehouse.maxStorageWeight"  name="maxStorageWeight" #maxStorageWeight="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="maxStorageWeightUom" >Max Storage Weight Uom</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="maxStorageWeightUom" type="text" [(ngModel)]="warehouse.maxStorageWeightUom"   name="maxStorageWeightUom" #maxStorageWeightUom="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="handlingEquipment" >Handling Equipment</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="handlingEquipment" [(ngModel)]="warehouse.handlingEquipment"   autoResize="true" name="handlingEquipment" #handlingEquipment="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="temperatureRange" >Temperature Range</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="temperatureRange" [(ngModel)]="warehouse.temperatureRange"   autoResize="true" name="temperatureRange" #temperatureRange="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="structureType" >Structure Type</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="structureType" [(ngModel)]="warehouse.structureType"   autoResize="true" name="structureType" #structureType="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="yearOfConstruction" >Year Of Construction</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="yearOfConstruction" type="number" [(ngModel)]="warehouse.yearOfConstruction"  name="yearOfConstruction" #yearOfConstruction="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="fleetAccess" >Fleet Access</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="fleetAccess" type="text" [(ngModel)]="warehouse.fleetAccess"   name="fleetAccess" #fleetAccess="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="powerSanctioned" >Power Sanctioned</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="powerSanctioned" type="text" [(ngModel)]="warehouse.powerSanctioned"   name="powerSanctioned" #powerSanctioned="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="waterConnection" >Water Connection</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="waterConnection" type="text" [(ngModel)]="warehouse.waterConnection"   name="waterConnection" #waterConnection="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="powerBackup" >Power Backup</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="powerBackup" type="text" [(ngModel)]="warehouse.powerBackup"   name="powerBackup" #powerBackup="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="craneServices" >Crane Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="craneServices" type="text" [(ngModel)]="warehouse.craneServices"   name="craneServices" #craneServices="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="fireSystems" >Fire Systems</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="fireSystems" type="text" [(ngModel)]="warehouse.fireSystems"   name="fireSystems" #fireSystems="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="security" >Security</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="security" type="text" [(ngModel)]="warehouse.security"   name="security" #security="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="lift" >Lift</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="lift" type="text" [(ngModel)]="warehouse.lift"   name="lift" #lift="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="toilet" >Toilet</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="toilet" type="text" [(ngModel)]="warehouse.toilet"   name="toilet" #toilet="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="parking" >Parking</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="parking" type="text" [(ngModel)]="warehouse.parking"   name="parking" #parking="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="distanceFromMainRoad" >Distance From Main Road</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="distanceFromMainRoad" type="number" [(ngModel)]="warehouse.distanceFromMainRoad"  name="distanceFromMainRoad" #distanceFromMainRoad="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="yard" >Yard</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="yard" [(ngModel)]="warehouse.yard"   autoResize="true" name="yard" #yard="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="facilityCertification" >Facility Certification</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="facilityCertification" [(ngModel)]="warehouse.facilityCertification"   autoResize="true" name="facilityCertification" #facilityCertification="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="faciltiyInsurance" >Faciltiy Insurance</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="faciltiyInsurance" [(ngModel)]="warehouse.faciltiyInsurance"   autoResize="true" name="faciltiyInsurance" #faciltiyInsurance="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="importExport" >Import Export</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="importExport" [(ngModel)]="warehouse.importExport"   autoResize="true" name="importExport" #importExport="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="inboundServices" >Inbound Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="inboundServices" [(ngModel)]="warehouse.inboundServices"   autoResize="true" name="inboundServices" #inboundServices="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="outboundServices" >Outbound Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="outboundServices" [(ngModel)]="warehouse.outboundServices"   autoResize="true" name="outboundServices" #outboundServices="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="valueAddedServices" >Value Added Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="valueAddedServices" [(ngModel)]="warehouse.valueAddedServices"   autoResize="true" name="valueAddedServices" #valueAddedServices="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="laborServices" >Labor Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="laborServices" [(ngModel)]="warehouse.laborServices"   autoResize="true" name="laborServices" #laborServices="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="totalLabor" >Total Labor</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="totalLabor" type="number" [(ngModel)]="warehouse.totalLabor"  name="totalLabor" #totalLabor="ngModel" />
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="distributionServices" >Distribution Services</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <textarea matInput id="distributionServices" [(ngModel)]="warehouse.distributionServices"   autoResize="true" name="distributionServices" #distributionServices="ngModel"></textarea>
                    
                </mat-input-container>
                </div>
           </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!warehouseForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>
    <br/>
    <mat-card *ngIf="warehouse && warehouse.id">
    <mat-card-subtitle>Warehouse db relations</mat-card-subtitle>
    <mat-card-content>
    <mat-tab-group>
        <mat-tab label="TheGoods">
            <p-pickList [source]="sourceTheGoods" [target]="warehouse.theGoods" sourceHeader="Available" targetHeader="Selected" [responsive]="true">
                <ng-template let-aGood pTemplate="item">
{{ aGood.name }}                 </ng-template>
            </p-pickList>
        </mat-tab>

    </mat-tab-group>
    </mat-card-content>
    </mat-card>
